.cosmic-form {
    height: 83vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cosmic-form form {
    background-color: #fff;
    padding: 2rem 3rem;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 510px #00000073;
}

form .username {
    width: 100%;
    height: 50px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #ddd;
    border: 1px solid #ddd;
    margin-top: 1rem;

    color: #777;
}

form .username:focus {
    border: 2px solid #bbb;
}

.hide-date-input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

form .date-control {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
}
.date-control span{
    font-size: 14px ;
    color: #777;
}
.date-control button {
    background-color: #555;
    color: #fff;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 20px;
    transition: all .5s ease-in-out;

}

.date-control button:hover {
    background-color: #333;
}

.btn-control {
    text-align: end;
}

.btn-control button {
    width: 100px;
    height: 50px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
}

.btn-control button:hover {
    background-color: #333;
}


@media screen and (max-width:768px) {
    .cosmic-form form {
        width: 90%;
    }

    .btn-control {
        margin-top: 2rem;
    }

    .btn-control button {
        width: 100%;
    }
}