.cosmic-wrapper {
    min-height: 110vh;
    height: auto;
    width: 100%;
    
}

.cosmic {
    background-color: #fff;
    padding: 2rem;
    width: 80%;
    border-radius: 5px;
    box-shadow: 4px 4px 510px #00000073;
    margin:2rem  auto;
}

.cosmic h2, .cosmic h3 {
    color: #ba8d34;

}
.cosmic-info{
    padding: 1rem 0;
}
.cosmic-info p{
padding: .5rem 0;
font-size: 14px;
border-bottom: 1px solid #ddd;
}
.cosmic-info b{
    margin-right: 1rem;
}

.cosmic ul{
    padding:0.5rem 1rem;
    font-size: 14px;
}

@media screen and (max-width:768px) {
    .cosmic {
        width: 90%;
        padding: 2rem;
    }
}