@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, #021f342d, #ed0b713f), url('https://scitechdaily.com/images/Vast-Universe-Concept.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  padding: 1rem;
  background-image: linear-gradient(to right,#80008025, #1e8fff25, #8000802e, #1e8fff2f , #8000802f);

}

header .logo {
  background-image: linear-gradient(to right, #1e8fff85, #8000806f);
  width: 120px;
  text-align: center;
  border-radius: 25px;
  padding: .5rem;
  cursor: pointer;
  transition: background-image .5s ease-in-out;
}

header .logo:hover {

  background-image: linear-gradient(to left, #8000806f, #1e8fff85, #8000806f);

}

footer {
  padding: 2rem;
  font-size: 14px;
  text-align: center;
  /* background-image: linear-gradient(to right,#80008025, #1e8fff25, #8000802e, #1e8fff2f , #8000802f); */

}